
*{
    padding: 0;
    margin: 0;
    transform-box: border-box;
}

:root{
   
    
    --primary1: #EDF5E1;
    --primary2: #05386b;
    --primary3: rgb(68, 67, 67);
    --primary3l: rgb(207, 207, 207);
    --warning: rgb(148, 7, 7);
    --background3: #5cdb95;
    --background1: #8EE4AF;
    --background2: #379683;

    



}

.color-pr1{
    color: var(--primary1);
}
.color-pr2{
    color: var(--primary2);
}
.color-pr3{
    color: var(--primary3);
}
.color-bg2{
    color: var(--background2);
}
.color-warning{
    color: var(--warning);
}

.bgr-color-pr1{
    background-color: var(--primary1);
}
.bgr-color-pr3{
    background-color: var(--primary3);
}
.bgr-color-pr3l{
    background-color: var(--primary3l);
}

.bgr-color-bg1{
    background-color: var(--background1);
}
.bgr-color-bg2{
    background-color: var(--background2);
}
.bgr-color-bg3{
    background-color: var(--background3);
}

/*display*/
.block{display: block;}
.flex{ display: flex;}
.gap-4{gap: 0.25rem;}
.gap-10{gap: 0.625rem;}
.inline{display: inline;}
.inline-block{display: inline-block;}
.grid{display: grid;}
.hidden{display: none;}
.invisible{visibility: hidden;}

/*position*/
.fixed{position:fixed;}
.relative{position: relative;}
.absolute{position: absolute;}

/*padding*/
.p-0{padding: 0;}
.p-2{padding: 0.125rem;}
.p-4{padding: 0.25rem;}
.pr-4{padding-right: 0.25rem;}
.pl-4{padding-left: 0.25rem;}
.pb-4{padding-bottom: 0.25rem;}
.p-6{padding: 0.375rem;}
.p-8{padding: 0.5rem;}
.p-10{padding: 0.625rem;}
.p-14{padding: 0.875rem;}
.p-18{padding: 1.125rem;}
.pl-18{padding-left: 1.125rem;}

/*margin*/
.mt-0{margin-top: 0;}
.m-0{margin: 0;}
.m-2{margin: 0.125rem;}
.m-4{margin: 0.25rem;}
.m-6{margin: 0.375rem;}
.mb-6{margin-bottom: 0.5rem;}
.m-8{margin: 0.5rem;}
.mt-8{margin-top: 0.5rem;}
.m-10{margin: 0.625rem;}
.m-14{margin: 0.875rem;}
.mr-14{margin-right: 0.875rem;}
.m-18{margin: 1.125rem;}


/*border*/
.b-none{border:none;}
.b-2{border: 0.125rem solid;}
.b-4{border: 0.25rem solid;}
.bt-4{border-top: 0.25rem solid;}
.bb-4{border-bottom: 0.25rem solid;}

.float-right{float: right;}
.float-left{float: left;}

/*height*/
.height-18, #kontakt input:not(#submit){height: 1.125rem;}
.height-24{height: 1.5rem}
.height-48{height: 3rem;}
.height-128{height: 8rem;}
.height-160{height: 10rem;}
.height-480{min-height: 43rem;}

/*width*/
.width-100p{width: 100%;}
.width-102p{width: 102%;}

.fit-cover{object-fit: cover;}

/*font-size*/
.font-size-12{font-size: 0.75rem;}
.font-size-14{font-size: 0.875rem;}
.font-size-16{font-size: 1rem;}
.font-size-18{font-size: 1.125rem;}
.font-size-20{font-size: 1.25rem;}
.font-size-24, h1{font-size: 1.5rem;}
.font-size-28{font-size: 1.75rem;}

/*text-align*/
.text-align-center{text-align: center;}
.text-align-justify{text-align: justify;}
.text-align-right{text-align: right;}
.text-align-left, h1{text-align: left;}

/*other*/
.underline{text-decoration: underline;}
.bold, b{font-weight: 700;}
.bb, #kontakt input{border-radius: 5px;}
.z1{z-index: 1;}
hr{border: solid 0.09rem;}

/*more complex classed*/
.format{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.grid-2b2-max-Content, #kompetenzen details div{
    display: grid;
    grid-template-columns: max-content 50%;
}

.grid-2b2{
  display: grid;
  grid-template-columns: 22rem auto;
}

.grid-2b3-max-Content{
    display: grid;
    grid-template-columns: max-content 57% max-content;
}

html, textarea{
    font-family: 'Roboto', sans-serif;

}



/*icons*/
.material-icons.md-18, .material-symbols-outlined.md-18{ font-size: 1.125rem; }
.material-icons.md-24, .material-symbols-outlined.md-24{ font-size: 1.5rem; vertical-align: -0.2rem;}
.material-icons.md-36, .material-symbols-outlined.md-36 { font-size: 2.25rem; }
.material-icons.md-48, .material-symbols-outlined.md-48 { font-size: 3rem; }


/*normal CSS (element-specific)*/
#wrapper{
    grid-template-columns: 58% 2% 40%;
    grid-template-areas: 
        "n n n" 
        "h h h"
        "m - a"
        "f f f"
    ;
}

nav{
    grid-area: n;
    top: 0;
    left: 0;
    right: 0;
    font-family:cursive;
}
nav a{
    flex: auto;
}
nav p{
  flex: 8 0 0;
}


header p{
    line-height: 2.0rem;
    right: 1rem;
    bottom: 2rem;
}
header p span{
    letter-spacing: 0.15rem;
    text-underline-offset: 0.4rem;
}

header{grid-area: h; margin-top: 1rem;}
main{grid-area: m;}
aside{grid-area: a;}
footer{grid-area: f;}


#kompetenzen summary, nav{
  list-style: none;
  user-select: none;
}

#kompetenzen summary, nav *, .games, .shadow1{
border-radius: 0.3rem;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*psudo-clases*/
nav a:not(.bgr-color-pr1):hover, #submit:not(.disabled):hover, #blogbuttons button:not(.disabled):hover{
  background-color: rgb(160, 160, 160);
}
#submit:disabled:hover, #blogbuttons button:disabled:hover{
    cursor: not-allowed;
}
#submit:not(.disabled):active{
    background-color: var(--primary3l);
    color: var(--primary3);
}
#blogbuttons button:not(.disabled):active{
  color: var(--primary1);
  background-color: var(--primary3);

}
footer a:visited{
    color: var(--primary2);
}



#a1{
  flex: 0 20 0;
}

/*too lazy to sort it*/
#buliDaten img{
  height: 1.25rem;
  width: 1.25rem;
  object-fit: scale-down;
}
.games{
  padding: 0.5rem;
  border: solid 0.1rem var(--primary3l);
}
.res{
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  border-right: 0.1rem solid var(--primary3l);
  border-left: 0.1rem solid var(--primary3l);
  border-radius: 0.4rem;
}
.res1{
  border-top: 0.1rem solid var(--primary3l);
}
.res2{
  border-bottom: 0.1rem solid var(--primary3l);
}
#spieltag2{
  border-radius: 1rem;
  padding: 0rem 0rem 0rem 0.75rem;
  width: 3.9rem;
  text-align: center;
}



/*media querrys*/
@media (max-width: 540px){
    body{
        min-width: 260px;
    }

    nav{
      flex-direction: column;
      height: 1.73rem;
      
      overflow: hidden;
      transition: height 1.4s;
    }
    nav.franz{
      height: 9.85rem;
      transition-timing-function: ease-out;
    }
    
    nav p{
      flex-basis: 0;
      border-radius: 0;
    }
    nav a{
      padding-left: 1rem;
      text-align: left;
    }
    nav div{
      display: block;
  
    }
    nav:not(.franz){
      pointer-events: none;
    }
    #button1{
        display: block;
        z-index: 2;
        position: fixed;
        top: 0.1rem;
        right: 0.7rem;
    }
    #button1:hover{
      background-color: #087963;
    }
    
    .grid-2b2{
      grid-template-columns: 14rem auto;
      font-size: 1rem;
    }

    #buliDaten img{
      height: 1rem;
      width: 1rem;
      object-fit: scale-down;
    }
    
    

    header{
        margin: 0;
        margin-top: 1.5rem;
    }
    
    .grid-2b2-max-Content, #kompetenzen details div{
        display: block;
    }
    .grid-2b2-max-Content p, #kompetenzen details div p{
        padding-bottom: 0.5rem;
    }
    .grid-2b3-max-Content{
        font-size: 0.75rem;




    }
}

@media (max-width: 800px){
    #wrapper{
        grid-template-columns: 100%;
        gap: 0.1rem;
        grid-template-areas: 
        "n"
        "h"
        "m"
        "a"
        "f"
        ;



    }
}

@media (min-width: 1050px){
  .grid-2b2{
    grid-template-columns: 30rem auto;
    font-size: 1.75rem;
  }
  #buliDaten img{
    height: 1.5rem;
    width: 1.5rem;
    object-fit: scale-down;
  }
}